body {
    font-family: 'roboto', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.header{
    background-color: #1F2937;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    list-style-type: none;
    gap: 12px;
}

.hero{
    background-color:#1F2937;
    display:flex;
    justify-content: space-around;
}

.herotext{
    display:flex;
    flex-direction: column;
    margin: 5%;
}

button {
    height: 32px;
    width: 100px;
    flex-grow: 0;
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border: none;
}

.heromain{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: extra-bold
}

.herosub{
    color: #E5E7EB;
    font-size: 18px;
}

img {
    max-width: 40%;
    height: auto;
    margin: 5%
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

.infosub{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.quote{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    padding: 5% 30% 5% 30%;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    font-size: 18px;
    color:#E5E7EB;
}